<!DOCTYPE html>
<html>
  <head>
  	<meta charset='utf-8'>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <h1><%= title %></h1>
<form name='frm' method="post" action='/aedit'>
         <P>标&nbsp;&nbsp;题；<input type="text" name="title" value="<%=data.title%>"></p>
         <p>作&nbsp;&nbsp;者：<%=data.author%></p>
         <p>标&nbsp;&nbsp;签：<input type="text" name="tag" value="<%=data.tag%>"></p>
         <p>
          <textarea name='content' style='width:200px;height:120px;'><%=data.content%></textarea>
         </P>
         <p><input type="submit" name='btn' value="编辑">&nbsp;&nbsp;<input type="reset" name='ret' value="重置"></p>
         <input type='hidden' name='id' value='<%=data._id%>'>
</form>
</body>
</html>